<div class="pagina">
  <div class="pagina-header row">
    <h4 class="display-4 col">Begroting</h4>
    <a class="col-1" href= "{{ read_the_docs }}moneygrip/begroting.html" target="_blank"><i class="fas fa-question-circle fa-4x"></i></a>
  </div> 
  <div class="filterbar row">
    <div class="col-sm-1">
      <select class="form-control" id="filter" [(ngModel)]="filterOptie">
        <option *ngFor="let item of filter">
          {{ item }}
        </option>
      </select>
    </div>
    <div class="col-sm-0-25"></div>
    <div class="col">
      <app-button-actie [buttonText]="buttonText" (actieChange)="berekenen(filterOptie)"></app-button-actie>
    </div>  
  </div>
  <div>
    <table class='table begroting'>
      <thead>
        <tr class="d-flex">
          <th class="col lead"></th>
          <th class="col-sm-1 lead text-right">Totaal</th>
          <th class="col-sm-0-75 lead text-right">Januari</th>
          <th class="col-sm-0-75 lead text-right">Februari</th>
          <th class="col-sm-0-75 lead text-right">Maart</th>
          <th class="col-sm-0-75 lead text-right">April</th>
          <th class="col-sm-0-75 lead text-right">Mei</th>
          <th class="col-sm-0-75 lead text-right">Juni</th>
          <th class="col-sm-0-75 lead text-right">Juli</th>
          <th class="col-sm-0-75 lead text-right">Augustus</th>
          <th class="col-sm-1 lead text-right">September</th>
          <th class="col-sm-0-75 lead text-right">Oktober</th>
          <th class="col-sm-1 lead text-right">November</th>
          <th class="col-sm-1 lead text-right">December</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" *ngFor="let item of begroting" [ngClass]="{'mh-bg-med': item.type == 'Resultaat'}">
          <td class="col" (click)="onSelect(item)">{{ item.type }}</td>
          <td class="col-sm-1 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.totaal < 0}">€ {{ item.totaal == null ? '' : item.totaal | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.januari < 0}">{{ item.januari == null ? '' : item.januari | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.februari < 0}">{{ item.februari == null ? '' : item.februari | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.maart < 0}">{{ item.maart == null ? '' : item.maart | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.april < 0}">{{ item.april == null ? '' : item.april | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.mei < 0}">{{ item.mei == null ? '' : item.mei | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.juni < 0}">{{ item.juni == null ? '' : item.juni | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.juli < 0}">{{ item.juli == null ? '' : item.juli | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.augustus < 0}">{{ item.augustus == null ? '' : item.augustus | customCurrency }}</td>
          <td class="col-sm-1 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.september < 0}">{{ item.september == null ? '' : item.september | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.oktober < 0}">{{ item.oktober == null ? '' : item.oktober | customCurrency }}</td>
          <td class="col-sm-1 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.november < 0}">{{ item.november == null ? '' : item.november | customCurrency }}</td>
          <td class="col-sm-1 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.december < 0}">{{ item.december == null ? '' : item.december | customCurrency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table class='table begroting-spaardoelen'>
      <thead>
        <tr class="d-flex">
          <th class="col lead">Spaardoelen</th>
          <th class="col-sm-1 lead text-right">Totaal</th>
          <th class="col-sm-0-75 lead text-right">Januari</th>
          <th class="col-sm-0-75 lead text-right">Februari</th>
          <th class="col-sm-0-75 lead text-right">Maart</th>
          <th class="col-sm-0-75 lead text-right">April</th>
          <th class="col-sm-0-75 lead text-right">Mei</th>
          <th class="col-sm-0-75 lead text-right">Juni</th>
          <th class="col-sm-0-75 lead text-right">Juli</th>
          <th class="col-sm-0-75 lead text-right">Augustus</th>
          <th class="col-sm-1 lead text-right">September</th>
          <th class="col-sm-0-75 lead text-right">Oktober</th>
          <th class="col-sm-1 lead text-right">November</th>
          <th class="col-sm-1 lead text-right">December</th>
        </tr>
      </thead>
      <tbody class="">
        <tr class="d-flex" *ngFor="let item of spaardoelen" [ngClass]="{'mh-bg-med': item.type == 'Totaal'}">
          <td class="col" (click)="onSelect(item)" placement="top" ngbTooltip="{{(item.type.length>12 && item.eindbedrag > 0 && item.totaal >= item.eindbedrag) ? item.type :(item.type.length>15) ? item.type : ''}}"><i class="fas fa-check" *ngIf="item.eindbedrag > 0 && item.totaal >= item.eindbedrag"></i>{{ (item.type.length>12 && item.eindbedrag > 0 && item.totaal >= item.eindbedrag) ? (item.type | slice:0:12)+'..':(item.type.length>15) ? (item.type | slice:0:15)+'..':(item.type) }}</td>
          <td class="col-sm-1 text-right" (click)="onSelect(item)" [ngClass]="{'bold': item.totaal < getResultaat(0)}">€ {{ item.totaal == null ? '' : item.totaal | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'bold': item.januari < getResultaat(1)}">{{ item.januari == null ? '' : item.januari | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.februari < 0}">{{ item.februari == null ? '' : item.februari | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'bold': item.maart < getResultaat(3)}">{{ item.maart == null ? '' : item.maart | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.april < 0}">{{ item.april == null ? '' : item.april | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.mei < 0}">{{ item.mei == null ? '' : item.mei | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.juni < 0}">{{ item.juni == null ? '' : item.juni | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.juli < 0}">{{ item.juli == null ? '' : item.juli | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.augustus < 0}">{{ item.augustus == null ? '' : item.augustus | customCurrency }}</td>
          <td class="col-sm-1 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.september < 0}">{{ item.september == null ? '' : item.september | customCurrency }}</td>
          <td class="col-sm-0-75 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.oktober < 0}">{{ item.oktober == null ? '' : item.oktober | customCurrency }}</td>
          <td class="col-sm-1 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.november < 0}">{{ item.november == null ? '' : item.november | customCurrency }}</td>
          <td class="col-sm-1 text-right" (click)="onSelect(item)" [ngClass]="{'negative': item.december < 0}">{{ item.december == null ? '' : item.december | customCurrency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>