@import '../../beheer-editor.scss';

.filterbar
{
    padding: 0px 0px 15px 0px;
    width: 100%;
}

.col-sm-0-75
{
  width: 6.24%;
}

.pagina
{
    height: 100%;
    overflow: hidden;
}

.table tbody tr:hover, .selected:hover
{
    background-color: #CFD8DC;
    color: #212121;
    cursor: default;
}

.table tbody td:hover
{
    font-weight: bold;
    cursor: pointer;
}

.negative
{
    color: #8D021F;
}

.inkomst
{
    background-color: #9DC183;
}

.table tbody {
    height: initial;
    * {
        height: unset;
    }
  }

  .begroting
  {
    height: 260px;
  }

.begroting-spaardoelen tbody
{
    height: calc(100vh - 465px);
    display: block;
    overflow-y: auto;
}

.fa-check
{
    color: #9DC183;
}

.pagina-header a
{
    padding-top: 15px;
    text-align: right;
}

.fa-question-circle
{
    color: #455A64;
}
