@import '../../beheer-overzicht.scss';
@import '../../basis';

.filterbar
{
    padding: 0px 0px 10px 0px;
    width: 100%;
}

.col-sm--1
{
  width: 6.24%;
}

.negative
{
    color: $red;
   // color: #8D021F;
}

.table tbody {
    height: initial;
    * {
        height: unset;
    }
  }

  .begroting
  {
    height: 260px;
  }

.begroting-spaardoelen tbody
{
    height: calc(100vh - 440px);
    display: block;
    overflow-y: auto;
}

.data-section
{
    display: flex;
    flex-direction: column;
}

.iconCheck
{
    color: $green;
    margin-right: 15px;
    //color: #9DC183;
}

.overzicht
{
    margin: 0px 0px 10px 0px;
}

.spaardoelen
{
    height: 100%;
}

.totaal
{
    background-color: $bg-medium;
    color: $text-dark;
}

.form-control
{
    padding-right: 0px;
    /*height: calc(2.50rem + 2px);*/
    color: $text-dark;
    background-color: $input-light;
    background-clip: padding-box;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $bg-dark;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus:not([readonly])
{
    color: $primary;
    background-color: $input-light;
    outline: 0;
    box-shadow: none;
}


#filter
{
    margin: 0px 10px 0px 0px;
}