<div class="pagina">
    <div class="row">
        <div>
            <div class="pagina-header">
                <titel [naam]="titel"></titel>
            </div>
            <div class="buttongroup-top row">
                <select class="form-control" id="filter" [(ngModel)]="filterOptie">
                    <option *ngFor="let item of filter">
                        {{ item }}
                    </option>
                </select>
                <app-button-actie [buttonText]="buttonText" (actieChange)="berekenen(filterOptie)"></app-button-actie>
            </div>
        </div> 
        <algemeen class="col algemeen" [text1]="totaalPerMaand" [text2]="gewensteStand"></algemeen>
    </div>
    <div class="data-section">
        <div class="overzicht">
            <mg-table [setupValues]="tabel" [data]="data"></mg-table>
        </div>
        <titel [naam]="spaardoelenTitel"></titel>
        <div class="spaardoelen">
            <mg-table [setupValues]="tabel" [data]="spaardoelen"></mg-table>
        </div>
    </div>
</div>