$primary: #4D3C4F;
$secondary: #6D5F6F;
$accent: #D2BF55;

$text-dark: #212121;
$text-light: #FFFFFF;
$text-blend: #AFA7B0;//#948A96;

$bg-dark: #D8D7D9;//C5C3C6
$bg-medium: #EBEBEC;
$bg-light: #FFFFFF;

$input-dark: #FFFFFF;

$green: #0A966C;
$red: #AF1818;
$blue: #A2BCCA;
$grey: #BFC0C0;

.tooltip .tooltip-inner
{
    background-color: $primary !important;
}

.tooltip.show
{
    opacity: 1.0 !important;
}

.tooltip .arrow::before
{
    border-top-color: $primary !important;
}