input[readonly]
{
    background-color: #E0E1E2;
    border: none;
    cursor: default;
}

input[readonly]:focus
{
    box-shadow: none;
}

.input-group-text, label, input, select
{
    border-radius: 0px;
}

p
{
    float: left;
}

.btn
{
    float: right;
}

.btn:focus
{
    border-color: #CFD8DC;
    box-shadow: 0px 0px 10px 2px #CFD8DC;
    outline: 0;
}

.buttongroup-bottom
{
    padding: 10px 0px 0px 0px;
}

.buttongroup-top
{
    background-color: #455A64;
    color: #FFFFFF;
    display: inline-block;
    padding: 0px 0px 0px 15px;
    width: 100%;
}

.buttongroup-top span
{
    margin: 15px 0px 15px 0px;
}

.buttongroup-top .button-annuleren
{
    float: right;
    padding: 0px 0px 0px 0px;
}

.display-5
{
    line-height: 1.7;
}

.fas-margin
{
    margin: 0px 10px 0px 0px;
}

.form-control
{
    padding-right: 0px;
    /*height: calc(2.50rem + 2px);*/
    color: #212121;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus:not([readonly])
{
    color: #495057;
    background-color: #FFFFFF;
    border-color: #CFD8DC;
    outline: 0;
    box-shadow: 0px 0px 10px 2px #CFD8DC;
}

.own-custom-file-label
{
    cursor: pointer;
}

.own-custom-file-label em
{
    color: #455A64;
}

.own-custom-file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}

.form-group
{
    padding: 0px;
}

.ng-valid[required], .ng-valid.required
{
    border-bottom: 2px solid #0a966c;
}

.ng-valid[required]:focus, .ng-valid.required:focus
{
    border-bottom: 2px solid #0a966c !important;
}
  
.ng-invalid:not(form)
{
    border-bottom: 2px solid rgb(143, 41, 16);
}

.ng-invalid:not(form):focus
{
    border-bottom: 2px solid rgb(143, 41, 16) !important;
}