@import './basis';

.advancedSearchTextbox
{
    border-radius: 0px;
    margin: 0px 0px 10px 0px;
}

.customZoekbalk
{
    margin: 0px 0px 10px 0px;
}

.buttongroup-top
{
    display: inline-block;
    padding: 0px 0px 10px 0px;
    width: 100%;
}

.col-sm-0-25
{
  width: 2.08%;
}

.col-sm-0-50
{
  width: 4.16%;
}

.data-section
{
    height: 100%;
}

.fas
{
    color: $primary;
}

.pagina
{
    height: 100%;
    overflow: hidden;
}

.table tbody tr:hover .fas:hover
{
    color: $secondary;
}

.pagina-header a, .pagina-header .doclink
{
    padding-top: 10px;
    text-align: right;
}

.customHeader
{
    padding-right: 17px;
}