@import './basis';

button:disabled
{
    background-color: $grey;
    color: $text-dark;
}

input[readonly]
{
    background-color: $bg-light;
    border: none;
    cursor: default;
}

input[readonly]:focus
{
    box-shadow: none;
}

.input-group-text, label, input, select
{
    border-radius: 0px;
}

p
{
    float: left;
}

.btn
{
    float: right;
}

.buttongroup-bottom
{
    padding: 15px 0px 0px 0px;
}

.buttongroup-top
{
    background-color: $primary;
    color: $text-light;
    display: inline-block;
    padding: 0px 0px 0px 15px;
    width: 100%;
}

.buttongroup-top span
{
    margin: 15px 0px 15px 0px;
}

.buttongroup-top .button-annuleren
{
    float: right;
    padding: 0px 0px 0px 0px;
}

.delete
{
    color: $red;
    padding: 0px;

    &:hover
    {
        background-color: $bg-light;
        color: $secondary;
    }
}

.display-5
{
    line-height: 1.7;
}

.ellipsis
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fas-margin
{
    margin: 0px 15px 0px 0px;
}

.form-control
{
    padding-right: 0px;
    /*height: calc(2.50rem + 2px);*/
    color: $text-dark;
    background-color: $input-dark;
    background-clip: padding-box;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $bg-dark;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus:not([readonly])
{
    color: $primary;
    background-color: $input-dark;
    outline: 0;
    box-shadow: none;
}

.input-group-text
{
    color: $text-dark;
    background-color: $input-dark;
    border: none;
}

.own-custom-file-label
{
    cursor: pointer;
}

.own-custom-file-label fa-icon
{
    color: $primary;
}

.own-custom-file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}

.form-group
{
    padding: 0px;
}

.ng-valid[required], .ng-valid.required
{
    border-bottom: 2px solid $green;
}

.ng-valid[required]:focus, .ng-valid.required:focus
{
    border-bottom: 2px solid $green !important;
}
  
.ng-invalid:not(form)
{
    border-bottom: 2px solid $red;
}

.ng-invalid:not(form):focus
{
    border-bottom: 2px solid $red !important;
}

.valid
{
    border-bottom: 2px solid $green;
}

.invalid
{
    border-bottom: 2px solid $red;
}

.optional
{
    border-bottom: 1px solid $bg-dark;
}