/* You can add global styles to this file, and also import other style files */
@import './basis';


html, body
{
    height: 100vh;
}

a
{
    &:hover
    {
        color: $accent !important;
        text-decoration: none !important;
    }
}

.row
{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.loading .mid
{
    height: 20vh;
    color: $secondary;
    font-weight: bold;
}

label
{
    margin-bottom: 0px !important;
}

input
{
    background-clip: padding-box;
    background-color: $input-dark;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $bg-medium;
    border-radius: 0px;
    color: $text-light;
    display: block;
    font-size: 1rem;
    height: calc(2.25rem + 2px);
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
}

input:focus
{
    background-color: $input-dark;
    border-color: $secondary;
    color: $text-light;
    outline: 0;
}

button[type=submit]
{
    background-color: $green;
    color: $text-light;

    &:hover
    {
        background-color: $secondary;
        color: $text-light;
    }
}

.btn:focus
{
    box-shadow: none;
    outline: 0 !important;
}

button
{
    &:focus
    {
        outline: 0 !important;
    }
}

.dropdown:hover>.dropdown-menu {
    display: block;
    margin: -50px 0px 0px 100%;
  }

thead
{
    background-color: $primary;
    color: $text-light;
}

.bold
{
    font-weight: bold;
}

.btn
{
	border-radius: 0px;
}

.btn:hover
{
    background-color: $primary;
    color: $text-light;
}

.btn-confirm
{
    background-color: $green;
    color: $text-light;
}

.btn-cancel
{
    background-color: $red;
    color: $text-light;
}

.btn-general
{
    background-color: $grey;
    color: $text-dark;
}

.dialog-add .mat-dialog-container
{
    background-color: $bg-light;
    border-radius: 0px;
    color: $text-dark;
    min-width: 400px;
    max-width: 400px;
    padding: 0px 0px 15px 0px;
}

.dialog-add .mat-dialog-container form
{
    padding: 15px;
}

.dialog-add .buttongroup-top
{
    padding: 0px 0px 0px 15px;
}

.dialog-delete .mat-dialog-container
{
    background-color: $bg-light;
    border-radius: 0px;
    color: $text-dark;
    padding: 15px;
}

.display-5
{
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6
{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.mat-dialog-content
{
    margin: 0px !important;
    padding: 0px !important;
}

.mh-bg-dark
{
    background-color: $bg-dark;
    color: $text-light;
}

.mh-bg-med
{
    background-color: $bg-medium;
    color: $text-light;
}

.mh-bg-light
{
    background-color: $bg-light;
    color: $text-dark;
}

.hide
{
    display: none;
}

.row
{
    flex-wrap: nowrap;
}

.col--2
{
  width: 2.08%;
}

.col--1
{
  width: 4.16%;
}
/*
@font-face {
    font-family: OpenDyslexic;
    src: url('assets/font/OpenDyslexic-Regular.otf');
}
@font-face {
    font-family: OpenDyslexic-Bold;
    src: url('assets/font/OpenDyslexic-Bold.otf');
}
@font-face {
    font-family: OpenDyslexic-Bolditalic;
    src: url('assets/font/OpenDyslexic-Bolditalic.otf');
}
@font-face {
    font-family: OpenDyslexic-Italic;
    src: url('assets/font/OpenDyslexic-Italic.otf');
}

body{
  font-family: OpenDyslexic;
}
b{
  font-family: OpenDyslexic-Bold;
}
i, em {
  font-family: OpenDyslexic-Italic;
}
b > i, em {
  font-family: OpenDyslexic-Bolditalic;
}
i, em > b {
  font-family: OpenDyslexic-Bolditalic;
}*/