/* You can add global styles to this file, and also import other style files */

html, body
{
    height: 100vh;
}

.loading
{
    background-color: #E0E1E2;
    color: #FF0000;
    height: 100%;
}

.loading .top
{
    height: 20vh;
}

.loading .mid
{
    height: 20vh;
    background-color: #607D8B;
    color: #FFFFFF;
    font-weight: bold;
}

.loading i {
    animation: rotate 1s ease-in-out 0s;
  }
  
  @keyframes rotate {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
  }

.loading .bot
{
    height: 60vh;
}

input
{
    background-clip: padding-box;
    background-color: #F5F6F7;
    border: 1px solid #CED4DA;
    border-radius: 0.25rem;
    color: #495057;
    display: block;
    font-size: 1rem;
    height: calc(2.25rem + 2px);
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
}

input:focus
{
    background-color: #F5F6F7;
    border-color: #CFD8DC;
    box-shadow: 0px 0px 10px 2px #CFD8DC;
    color: #495057;
    outline: 0;
}

thead
{
    background-color: #455A64;
    color: #FFFFFF;
}

.btn
{
    background-color: #455A64;
    color: #FFFFFF;
}

.btn:hover
{
    background-color: #607D8B;
}

.dialog-add .mat-dialog-container
{
    background-color: #E0E1E2;
    color: #212121;
    width: 400px;
}

.dialog-delete .mat-dialog-container
{
    background-color: #E0E1E2;
    color: #212121;
}

.mh-bg-dark
{
    background-color: #455A64;
    color: #FFFFFF;
}

.mh-bg-med
{
    background-color: #607D8B;
    color: #FFFFFF;
}

.mh-bg-light
{
    background-color: #F5F6F7;
    color: #212121;
}

.selected
{
    background-color: #CFD8DC;
    color: #212121;
}

.table
{
    table-layout: fixed;
}

.table tbody 
{
    display: block;
    height: calc(100vh - 265px);
    overflow-y: auto;
}

.table tbody tr:hover, .selected:hover
{
    background-color: #CFD8DC;
    cursor: pointer;
}

.table tbody tr
{
    border-bottom: 1px solid #455A64;
}

.tooltip .tooltip-inner
{
    background-color: #455A64 !important;
}

.tooltip .arrow::before
{
    border-top-color: #455A64 !important;
}