.sonarqube/
.vs/
mijnHuishoudenAPI.sln
mijnHuishouden.Tests/
API/bin/
API/obj/
SQL scripts/
UI designs/
backup/
API/Dockerfile.original
Doelen.txt
API/mijnHuishoudenAPI.csproj.user
Docker 101 workshop.txt
functionaliteiten.txt
API/docker/
docker werkend.txt
.dockerignore
docs/_build/
