.sonarqube/
.vs/
mijnHuishoudenAPI.sln
mijnHuishouden.Tests/
API/bin/
API/obj/
SQL scripts/
UI designs/
backup/
API/Dockerfile.original
Doelen.txt
API/mijnHuishoudenAPI.csproj.user
Docker 101 workshop.txt
functionaliteiten.txt
API/docker/
docker werkend.txt
.dockerignore
docs/_build/
Latest naar docker hub.bat
Versie naar docker hub.bat
Release proces nieuwe versie.txt
SQL/
docker commandos.txt
Build.bat
Installer_MoneyGrip.ifp
MoneyGrip.bat
MoneyGrip.ico
MoneyGrip.sln
API/MoneyGrip.csproj.user
API/MoneyGrip.csproj
Build/
Release/
Angular/.scannerwork/
.scannerwork/
Angular/sonar-project.properties
Angular/e2e/protractor.conf.js
Angular/e2e/
Badges.txt
