@import '../basis';

.btn-annuleren
{
    background-color: $primary;
    color: $text-blend;
}

.btn-annuleren:hover
{
	color: $text-light;
}

.btn:focus
{
    border-color: $primary;
    box-shadow: none;
    outline: 0;
}