<div class="pagina">
    <h4 class="display-4">Personen</h4>
      <p class="lead">Hier kunnen personen aangemaakt worden waaraan transacties kunnen worden toegewezen.<br />
      Daardoor worden de uitgaven per persoon per categorie/label inzichtelijk.</p>
    <div class="buttongroup-top">
      <app-button-toevoegen [buttonText]="buttonText" (toevoegChange)="add()"></app-button-toevoegen>
    </div>
    <div>
      <input [(ngModel)]="searchText" placeholder="Snel zoeken.." class="advancedSearchTextbox">
      <table class='table'>
        <thead>
          <tr class="d-flex">
            <th class="col-1 lead">Voornaam</th>
            <th class="col lead">Achternaam</th>
            <th class="col-sm-0-25"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="d-flex" *ngFor="let item of items | tableFilter: {voornaam:searchText, achternaam:searchText};" [ngClass]="{'selected': item.id == selectedId}">
            <td class="col-1" (click)="onSelect(item)">{{ item.voornaam }}</td>
            <td class="col" (click)="onSelect(item)">{{ item.achternaam }}</td>
            <td class="col-sm-0-25 text-right"><i class="fas fa-trash-alt" (click)="openDeleteDialog(item)"></i></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
