<div class="pagina">
  <div class="pagina-header row">
    <titel class = "col" [naam]="titel"></titel>
    <doclink class="col-1 doclink" [pagina]="docpage"></doclink>
  </div>
  <div class="buttongroup-top">
    <button-toevoegen [buttonText]="buttonText" (toevoegChange)="add()"></button-toevoegen>
  </div>
  <div>
    <!--input [(ngModel)]="searchText" (ngModelChange)="zoek($event)" placeholder="Snel zoeken.." class="advancedSearchTextbox"-->
    <mg-table [headers]="tabelHeaders" [data]="items" (selected)="onSelect($event)" (verwijder)="openDeleteDialog($event)"></mg-table>
  </div>
</div>