<div class="pagina">
  <div class="pagina-header row">
    <titel class = "col" [naam]="titel"></titel>
  </div>
  <div class="buttongroup-top">
    <button-toevoegen [buttonText]="buttonText" (toevoegChange)="add()"></button-toevoegen>
  </div>
  <div class="data-section">
    <div class="customZoekbalk">
      <zoekbalk (zoekTekst)="zoek($event)"></zoekbalk>
    </div>
    <mg-table [setupValues]="tabel" [data]="zoekResultaat" (selected)="onSelect($event)" (verwijder)="openDeleteDialog($event)"></mg-table>
  </div>
</div>