
<div class='main-nav'>
  <div class='navbar navbar-expand-sm'>
    <a class='navbar-brand' [routerLink]='["/"]'><h5 class="display-5">mijnHuishouden</h5></a>
    <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='.navbar-collapse' (click)='toggle()'>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav flex-column">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]='["/inkomsten"]'><i class="fas fa-sign-in-alt col-1"></i><span class="lead col"> Inkomsten</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown pointer" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-sign-out-alt col-1"></i><span class="lead col"> Uitgaven</span><i class="fas fa-angle-right"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a [routerLink]='["/afschrijvingen"]' class="dropdown-item"><i class="fas fa-file-invoice col-1"></i><span class="lead col"> Afschrijvingen</span></a>
            <a [routerLink]='["/budgetten"]' class="dropdown-item"><i class="fas fa-align-left col-1"></i><span class="lead col"> Budgetten</span></a>
            <a [routerLink]='["/contracten"]' class="dropdown-item"><i class="fas fa-file-contract col-1"></i><span class="lead col"> Contracten</span></a>
            <a [routerLink]='["/reserveringen"]' class="dropdown-item"><i class="fas fa-calendar-alt col-1"></i><span class="lead col"> Reserveringen</span></a>
            <a [routerLink]='["/spaardoelen"]' class="dropdown-item"><i class="fas fa-piggy-bank col-1"></i><span class="lead col"> Spaardoelen</span></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown pointer" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-edit col-1"></i><span class="lead col"> Beheer</span><i class="fas fa-angle-right"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a [routerLink]='["/categorieen"]' class="dropdown-item"><i class="fas fa-bookmark col-1"></i><span class="lead col"> Categorieën</span></a>
            <a [routerLink]='["/labels"]' class="dropdown-item"><i class="fas fa-tag col-1"></i><span class="lead col"> Labels</span></a>
            <a [routerLink]='["/personen"]' class="dropdown-item"><i class="fas fa-users col-1"></i><span class="lead col"> Personen</span></a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown pointer" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-question-circle col-1"></i><span class="lead col"> Help</span><i class="fas fa-angle-right"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a [routerLink]='["/documentatie"]' class="dropdown-item"><i class="fas fa-book col-1"></i><span class="lead col"> Handleiding</span></a>
              <a [routerLink]='["/info"]' class="dropdown-item"><i class="fas fa-info-circle col-1"></i><span class="lead col"> Info</span></a>
            </div>
          </li>
      </ul>
    </div>
    <footer>v{{ version }}</footer> 
  </div>
</div>