
<div class='main-nav'>
  <div class='navbar navbar-expand-sm'>
    <a class='navbar-brand d-flex' [routerLink]='["/"]'>
      <img src="assets/MoneyGrip.png" alt="MoneyGrip" height="32px" width="32px" class="col-2"><div class="display-6 col text-left">{{ app_name }}</div>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav flex-column">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown pointer d-flex" id="navbarDropdownRapportages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <em class="fas fa-chart-line col-1"></em><span class="lead col">RAPPORTAGES</span><em class="fas fa-angle-right col-1"></em>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a [routerLink]='["/begroting"]' class="dropdown-item"><em class="fas fa-bars col-1"></em><span class="lead col">BEGROTING</span></a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link d-flex" [routerLink]='["/inkomsten"]'><em class="fas fa-sign-in-alt col-1"></em><span class="lead col">INKOMSTEN</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown pointer d-flex" id="navbarDropdownUitgaven" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <em class="fas fa-sign-out-alt col-1"></em><span class="lead col">UITGAVEN</span><em class="fas fa-angle-right col-1"></em>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a [routerLink]='["/afschrijvingen"]' class="dropdown-item"><em class="fas fa-file-invoice col-1"></em><span class="lead col">AFSCHRIJVINGEN</span></a>
            <a [routerLink]='["/budgetten"]' class="dropdown-item"><em class="fas fa-align-left col-1"></em><span class="lead col">BUDGETTEN</span></a>
            <a [routerLink]='["/contracten"]' class="dropdown-item"><em class="fas fa-file-contract col-1"></em><span class="lead col">CONTRACTEN</span></a>
            <a [routerLink]='["/reserveringen"]' class="dropdown-item"><em class="fas fa-calendar-alt col-1"></em><span class="lead col">RESERVERINGEN</span></a>
            <a [routerLink]='["/spaardoelen"]' class="dropdown-item"><em class="fas fa-piggy-bank col-1"></em><span class="lead col">SPAARDOELEN</span></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown pointer d-flex" id="navbarDropdownInstellingen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <em class="fas fa-edit col-1"></em><span class="lead col">INSTELLINGEN</span><em class="fas fa-angle-right col-1"></em>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a [routerLink]='["/categorieen"]' class="dropdown-item"><em class="fas fa-bookmark col-1"></em><span class="lead col">CATEGORIEËN</span></a>
            <a [routerLink]='["/labels"]' class="dropdown-item"><em class="fas fa-tag col-1"></em><span class="lead col">LABELS</span></a>
            <a [routerLink]='["/personen"]' class="dropdown-item"><em class="fas fa-users col-1"></em><span class="lead col">PERSONEN</span></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown pointer d-flex" id="navbarDropdownBeheer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <em class="fas fa-cogs col-1"></em><span class="lead col">BEHEER</span><em class="fas fa-angle-right col-1"></em>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a [routerLink]='["/backup"]' class="dropdown-item"><em class="fas fa-database col-1"></em><span class="lead col">BACKUP</span></a>
            <a [routerLink]='["/importeer"]' class="dropdown-item hide"><em class="fas fa-users col-1"></em><span class="lead col">IMPORTEER</span></a>
            <a [routerLink]='["/exporteer"]' class="dropdown-item hide"><em class="fas fa-users col-1"></em><span class="lead col">EXPORTEER</span></a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown pointer d-flex" id="navbarDropdownHelp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <em class="fas fa-question-circle col-1"></em><span class="lead col">HELP</span><em class="fas fa-angle-right col-1"></em>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a href='{{ read_the_docs }}' target="_blank" class="dropdown-item"><em class="fas fa-book col-1"></em><span class="lead col">HANDLEIDING</span></a>
              <a class="dropdown-item pointer" (click)="toonInfo()"><em class="fas fa-info-circle col-1"></em><span class="lead col">INFO</span></a>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>