
<div class='main-nav'>
  <div class='navbar navbar-expand-sm'>
    <a class='navbar-brand d-flex' [routerLink]='["/"]'>
      <img src="assets/Logo.png" alt="MoneyGrip" height="32px" width="32px" class="col-2"><div class="display-6 col text-left">{{ app_name }}</div>
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav flex-column">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown pointer d-flex">
            <fa-icon [icon]="faChartLine" class="col-1"></fa-icon>
            <span class="lead col">RAPPORTAGES</span>
            <fa-icon [icon]="faCaretRight" class="iconCaret col-1"></fa-icon>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]='["/begroting"]' class="dropdown-item">
                <fa-icon [icon]="faBars" class="col-1"></fa-icon>
                <span class="lead col">BEGROTING</span>
            </a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link d-flex" [routerLink]='["/inkomsten"]'>
            <fa-icon [icon]="faSignInAlt" class="col-1"></fa-icon>
            <span class="lead col">INKOMSTEN</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown pointer d-flex">
            <fa-icon [icon]="faSignOutAlt" class="col-1"></fa-icon>
            <span class="lead col">UITGAVEN</span>
            <fa-icon [icon]="faCaretRight" class="iconCaret col-1"></fa-icon>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]='["/afschrijvingen"]' class="dropdown-item">
                <fa-icon [icon]="faFileInvoice" class="col-1"></fa-icon>
                <span class="lead col">AFSCHRIJVINGEN</span>
            </a>
            <a [routerLink]='["/budgetten"]' class="dropdown-item">
                <fa-icon [icon]="faAlignLeft" class="col-1"></fa-icon>
                <span class="lead col">BUDGETTEN</span>
            </a>
            <a [routerLink]='["/contracten"]' class="dropdown-item">
                <fa-icon [icon]="faFileContract" class="col-1"></fa-icon>
                <span class="lead col">CONTRACTEN</span>
            </a>
            <a [routerLink]='["/leningen"]' class="dropdown-item">
                <fa-icon [icon]="faFileContract" class="col-1"></fa-icon>
                <span class="lead col">LENINGEN</span>
            </a>
            <a [routerLink]='["/reserveringen"]' class="dropdown-item">
                <fa-icon [icon]="faCalendarAlt" class="col-1"></fa-icon>
                <span class="lead col">RESERVERINGEN</span>
            </a>
            <a [routerLink]='["/spaardoelen"]' class="dropdown-item">
                <fa-icon [icon]="faPiggyBank" class="col-1"></fa-icon>
                <span class="lead col">SPAARDOELEN</span>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown pointer d-flex">
            <fa-icon [icon]="faEdit" class="col-1"></fa-icon>
            <span class="lead col">INSTELLINGEN</span>
            <fa-icon [icon]="faCaretRight" class="iconCaret col-1"></fa-icon>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]='["/categorieen"]' class="dropdown-item">
                <fa-icon [icon]="faBookmark" class="col-1"></fa-icon>
                <span class="lead col">CATEGORIEËN</span>
            </a>
            <a [routerLink]='["/labels"]' class="dropdown-item">
                <fa-icon [icon]="faTag" class="col-1"></fa-icon>
                <span class="lead col">LABELS</span>
            </a>
            <a [routerLink]='["/personen"]' class="dropdown-item">
                <fa-icon [icon]="faUsers" class="col-1"></fa-icon>
                <span class="lead col">PERSONEN</span>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown pointer d-flex">
            <fa-icon [icon]="faCogs" class="col-1"></fa-icon>
            <span class="lead col">BEHEER</span>
            <fa-icon [icon]="faCaretRight" class="iconCaret col-1"></fa-icon>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]='["/backup"]' class="dropdown-item">
                <fa-icon [icon]="faDatabase" class="col-1"></fa-icon>
                <span class="lead col">BACKUP</span>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown pointer d-flex">
              <fa-icon [icon]="faQuestionCircle" class="col-1"></fa-icon>
              <span class="lead col">HELP</span>
              <fa-icon [icon]="faCaretRight" class="iconCaret col-1"></fa-icon>
            </a>
            <div class="dropdown-menu">
                <a href='{{ read_the_docs }}' target="_blank" class="dropdown-item">
                  <fa-icon [icon]="faBook" class="col-1"></fa-icon>
                  <span class="lead col">HANDLEIDING</span>
                </a>
                <a class="dropdown-item pointer" (click)="toonInfo()">
                  <fa-icon [icon]="faInfoCircle" class="col-1"></fa-icon>
                  <span class="lead col">INFO</span>
                </a>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>