/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.pointer {
  cursor: pointer;
}

.dropdown:hover>.dropdown-menu {
  display: block;
  margin: -50px 0px 0px 100%;
}

.display-5
{
  margin: 15px 0px 0px 0px;
}

@media (min-width: 576px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
      height: 100%;
      background-color: #607D8B;
    }
    .navbar-brand
    {
      color: #FFFFFF;
      text-align: center;
      padding: 0px;
      margin: 0px;
    }
    .navbar {
      border-radius: 0px;
      border-width: 0px;
      height: 100%;
      display: block;
      padding: 0px;
    }
    .navbar-header {
      float: none;
    }
    .navbar-collapse {
      border-top: 1px solid #495057;
      padding: 0px;
    }
    .navbar ul {
      float: none;
      width: 100%;
    }
    .navbar li {
      float: none;
      font-size: 15px;
      height: 50px;
      width: 100%;
    }
    .navbar li a {
      height: 100%;
      padding: 0px;
      color: white;
    }
    .navbar a {
      /* If a menu item's text is too long, truncate it */
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 50px;
    }

    footer
    {
      color: #455A64;
    }

    .version
    {
      height: 100%;
      display: flex;
      align-items: flex-end;
    }

    .dropdown-menu
    {
      padding: 0px;
      height: 50px;
      margin: 0px;
      border-radius: 0px;
      border: none;
    }

    .dropdown-menu a
    {
      background-color: #455A64;
    }

    .dropdown-menu span
    {
      padding: 0px 0px 0px 15px;
      color: #FFFFFF;
    }

    .dropdown-menu a:hover
    {
      background-color: #CFD8DC;
    }

    .dropdown-menu a:hover span
    {
      color: #212121;
    }

    .dropdown-menu a:hover i
    {
      color: #212121;
    }

    .nav-item:hover
    {
      background-color: #CFD8DC;
    }

    .nav-item:hover .nav-link
    {
      color: #212121;
    }
  }
