@import '../../../basis';

.iconDelete
{
    color: $red;
}

.scrollbar-padding
{
    padding-right: 17px;
}

.table
{
    margin-bottom: 0px;
    table-layout: fixed;

    tbody
    {
        display: block;
        height: calc(100vh - 225px);
        overflow-y: scroll;

        td
        {
            border-top: none;
            padding: .45rem;
            &:hover
            {
                .iconDelete
                {
                    text-shadow: none;
                    color: $primary;
                }
            }
        }

        tr
        {
            border-bottom: 1px solid $bg-dark;
            &:hover
            {
                background-color: $bg-medium;
                color: $text-dark;
                cursor: pointer;
            }
        }
    }

    thead
    {
        background-color: $primary;
        color: $text-light;
        display: block;

        th
        {
            border-bottom: none;
            border-top: none;
            padding-left: .45rem;
            padding-right: .45rem;
        }
    }
}