@import '../../../basis';

table
{
    font-family: "Segoe UI" !important;
    width: 100%;
}

.mg-table-container {
    height: 100%;
    overflow: auto;
  }

.mat-row
{
    cursor: pointer;
    &:hover
    {
        background-color: rgba(255, 255, 255, 0.04);
        color: $accent !important;
    }
}

.mat-column-select {
    width: 75px;
  }