<table class='table'>
  <thead>
    <tr class="d-flex scrollbar-padding">
      <th class="col--2"></th>
      <th class="col--2"></th>
      <th class="lead" [ngClass]="[setup.kolombreedte === 0 ? 'col' : 'col-'+ setup.kolombreedte, 'text-' + setup.align]" *ngFor="let setup of setupValues">{{ setup.kolomnaam }}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="d-flex" *ngFor="let item of data" [ngClass]="{'selected': item.id == selectedId}">
      <td class="col--2" (click)="onDelete(item)"><fa-icon [icon]="faTimesCircle" class="iconDelete"></fa-icon></td>
      <td class="col--2"></td>
      <td [ngClass]="[setup.kolombreedte === 0 ? 'col' : 'col-'+ setup.kolombreedte, 'text-' + setup.align]" (click)="onSelect(item)" *ngFor="let setup of setupValues">
        <em [ngStyle]="{'color': getValue(item, setup.kolomnaam)}" [ngClass]="setup.icoon.class" (click)="voerActieUit(item)" *ngIf="setup.icoon && getValue(item, setup.kolomnaam)"></em>{{ setup.icoon ? "" : getValue(item, setup.kolomnaam) }}
      </td>
    </tr>
  </tbody>
</table>