<table class='table'>
  <thead>
    <tr class="d-flex">
      <th class="col-sm-0-25"></th>
      <th class="col-1 lead" *ngFor="let header of headers">{{ header }}</th>
      <th class="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="d-flex" *ngFor="let item of data" [ngClass]="{'selected': item.id == selectedId}">
      <td class="col-sm-0-25 text-right"><i class="fas fa-trash-alt" (click)="onDelete(item)"></i></td>
      <td class="col-1" (click)="onSelect(item)" *ngFor="let header of headers">{{ getValue(item, header) }}</td>
      <td class="col" (click)="onSelect(item)"></td>
    </tr>
  </tbody>
</table>