<div class="buttongroup-top">
  <span class="display-5">{{ titelText }}</span>
  <app-button-annuleren class="button-annuleren"></app-button-annuleren>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <labels [aanwezigeLabels]="gekozenLabels" (updateForm)="updateFormControlLabelAndMarkDirty($event)" *ngIf="labelsLoaded | async"></labels>
  <div class="form-group row">
    <label for="percentage" class="col-sm-5 col-form-label">Percentage</label>
    <div class="input-group col-sm-7">
      <input type="text" class="form-control" id="percentage" formControlName="percentage" [required]="!form.get('eindbedrag').value">
      <div class="input-group-append" [ngClass]="!form.get('eindbedrag').value ? form.get('percentage').valid && form.get('percentage').value ? 'valid' : 'invalid' : 'optional'">
        <span class="input-group-text">%</span>
      </div>
    </div>  
  </div>
  <div class="form-group row">
    <label for="eindbedrag" class="col-sm-5 col-form-label">Eindbedrag</label>
    <div class="input-group col-sm-7">
      <div class="input-group-prepend" [ngClass]="!form.get('percentage').value ? form.get('eindbedrag').valid && form.get('eindbedrag').value ? 'valid' : 'invalid' : 'optional'">
        <span class="input-group-text">€</span>
      </div>
      <input type="text" class="form-control" id="eindbedrag" formControlName="eindbedrag" [value]="form.get('eindbedrag').value | customCurrency" [required]="!form.get('percentage').value">
    </div>  
  </div>
  <div class="form-group row">
    <label for="eersteMaand" class="col-sm-5 col-form-label">Eerste maand</label>
    <div class="col-sm-7">
      <select class="form-control" id="eersteMaand" formControlName="eersteMaand" required>
        <option *ngFor="let item of keys(maandenEnum)"
                value={{maandenEnum[item]}}>
          {{ item }}
        </option>
      </select>
    </div>  
  </div>
  <div class="form-group row">
    <label for="laatsteMaand" class="col-sm-5 col-form-label">Laatste maand</label>
    <div class="col-sm-7">
      <select class="form-control" id="laatsteMaand" formControlName="laatsteMaand" required>
        <option *ngFor="let item of keys(maandenEnum)"
                value={{maandenEnum[item]}}>
          {{ item }}
        </option>
      </select>
    </div>  
  </div>
  <div class="form-group row">
    <label for="omschrijving" class="col-sm-5 col-form-label">Omschrijving</label>
    <div class="col-sm-7">
      <textarea rows="3" class="form-control" id="omschrijving" [value]="form.get('omschrijving').value" formControlName="omschrijving"></textarea>
    </div>  
  </div>
  <div class="buttongroup-bottom">
    <button class="btn" type="submit" [disabled]="!form.valid || form.pristine"><fa-icon [icon]="faDownload" class="fas-margin"></fa-icon>Opslaan</button>
  </div>
</form>