<div class="pagina">
  <div class="pagina-header row">
    <h4 class="display-4 col">Spaardoelen</h4>
    <a class="col-1" href="https://grip-op-huishouden.readthedocs.io/nl/latest/paginas/spaardoelen.html" target="_blank"><i class="fas fa-book fa-4x"></i></a>
  </div> 
  <p class="lead">Hier kunnen spaardoelen aangemaakt worden.<br />
    Met spaardoelen kunnen toekomstplannen waarvoor gespaard moet worden opgezet worden.</p>
  <div class="buttongroup-top">
    <app-button-toevoegen [buttonText]="buttonText" (toevoegChange)="add()"></app-button-toevoegen>
  </div>
  <div>
    <table class='table'>
      <thead>
        <tr class="d-flex">
          <th class="col-2 lead">Label</th>
          <th class="col-1 lead">Percentage</th>
          <th class="col-1 lead">Eindbedrag</th>
          <th class="col-2 lead">Eerste maand</th>
          <th class="col-2 lead">Laatste maand</th>
          <th class="col lead">Omschrijving</th>
          <th class="col-sm-0-25"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" *ngFor="let item of items" [ngClass]="{'selected': item.id == selectedId}">
          <td class="col-2" (click)="onSelect(item)">{{ item.labelNavigation == null ? '' : item.labelNavigation.naam }}</td>
          <td class="col-1" (click)="onSelect(item)">{{ item.percentage == null ? '' : item.percentage + '%' }}</td>
          <td class="col-1" (click)="onSelect(item)">{{ item.eindbedrag == null ? '' : '€ ' + (item.eindbedrag | customCurrency) }}</td>
          <td class="col-2" (click)="onSelect(item)">{{ MaandenEnum[item.eersteMaand] }}</td>
          <td class="col-2" (click)="onSelect(item)">{{ MaandenEnum[item.laatsteMaand] }}</td>
          <td class="col" (click)="onSelect(item)">{{ item.omschrijving }}</td>
          <td class="col-sm-0-25 text-right"><i class="fas fa-trash-alt" (click)="openDeleteDialog(item)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>