<div class="pagina">
  <div class="pagina-header row">
    <titel class = "col" [naam]="titel"></titel>
    <doclink class="col-1 doclink" [pagina]="docpage"></doclink>
  </div>
  <div class="buttongroup-top">
    <button-toevoegen [buttonText]="buttonText" (toevoegChange)="add()"></button-toevoegen>
  </div>
  <div>
    <input [(ngModel)]="searchText" (ngModelChange)="zoek($event)" placeholder="Snel zoeken.." class="advancedSearchTextbox">
    <table class='table'>
      <thead>
        <tr class="d-flex">
          <th class="col-sm-0-50"></th>
          <th class="col-sm-0-25 lead"></th>
          <th class="col-2 lead">Naam</th>
          <th class="col lead">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" *ngFor="let item of zoekResultaat" [ngClass]="{'selected': item.id == selectedId}">
          <td class="col-sm-0-50"><em class="fas fa-trash-alt" (click)="openDeleteDialog(item)"></em></td>
          <td class="col-sm-0-25" (click)="onSelect(item.id)"><em class="fas fa-bookmark" [ngStyle]="{'color': item.kleur}"></em></td>
          <td class="col-2" (click)="onSelect(item.id)">{{ item.naam }}</td>
          <td class="col" (click)="onSelect(item.id)">{{ TypeEnum[item.type] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>