<div class="pagina">
    <div class="pagina-wrapper row">
        <div>
            <div class="pagina-header">
                <titel [naam]="titel"></titel>
            </div>
            <div class="buttongroup-top row">
                <button-toevoegen [buttonText]="buttonText" (toevoegChange)="add()"></button-toevoegen>
                <zoekbalk class="col" (zoekTekst)="zoek($event)"></zoekbalk>
            </div>
        </div> 
        <algemeen class="col" [text1]="totaalPerMaand" [text2]="gewensteStand"></algemeen>
    </div>
  <div class="data-section">
    <mg-table [setupValues]="tabel" [data]="zoekResultaat" (selected)="onSelect($event)" (verwijder)="openDeleteDialog($event)"></mg-table>
  </div>
</div>