<div class="pagina">
    <div class="row">
        <div class="pagina-wrapper col">
            <div class="pagina-header">
                <titel [naam]="titel"></titel>
            </div>
            <div class="buttongroup-top row">
                <div class = "col row">
                    <button-toevoegen [buttonText]="buttonText" (toevoegChange)="add()"></button-toevoegen>
                    <zoekbalk class="padding-left" (zoekTekst)="zoek($event)"></zoekbalk>
                    <fa-icon *ngIf="deleteAvailable" (click)="deleteAvailable && onDelete()" [icon]="faTrash" class="padding-left iconDelete actieIcoon"></fa-icon>
                    <fa-icon *ngIf="openDocumentAvailable" (click)="openDocumentAvailable && onOpenDocument()" [icon]="faFileAlt" class="iconDocument actieIcoon"></fa-icon>
                    <fa-icon *ngIf="duplicerenMogelijk" (click)="duplicerenMogelijk && onDupliceren()" [icon]="faClone" class="iconClone actieIcoon"></fa-icon>
                </div>
                <div class="col-2 row buttongroup-topright">
                    <select class="form-control col" id="maandFilter" [(ngModel)]="maand" (ngModelChange)="get()">
                        <option *ngFor="let item of keys(maandFilter)" value={{maandFilter[item]}}>
                            {{ item }}
                        </option>
                    </select>
                    <span style="width: 10px;"></span>
                    <select class="form-control col-5" id="jaarFilter" [(ngModel)]="jaar" (ngModelChange)="get()">
                        <option *ngFor="let item of jaarFilter">
                            {{ item }}
                        </option>
                    </select>
                </div>
            </div>
        </div> 
    </div>
    <div class="data-section">
    <mg-table [setupValues]="tabel" [data]="zoekResultaat" [selecteerbaar]=true (selected)="onSelect($event)" (geselecteerd)="updateSelected($event)"></mg-table>
    </div>
</div>