<div class="buttongroup-top">
  <span class="display-5">{{ titelText }}</span>
  <app-button-annuleren></app-button-annuleren>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="id" class="col-sm-5 col-form-label">Id</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="id" formControlName="id" readonly>
    </div>
  </div>
  <div class="form-group row">
    <label for="laatstGewijzigd" class="col-sm-5 col-form-label">Laatst gewijzigd</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="laatstGewijzigd" [value]="form.get('laatstGewijzigd').value | date: 'dd-MM-yyyy HH:mm:ss'" formControlName="laatstGewijzigd" readonly>
    </div>  
  </div>
  <div class="form-group row">
    <label for="label" class="col-sm-5 col-form-label">Label</label>
    <div class="col-sm-7">
      <select class="form-control" id="label" formControlName="label" required cdkFocusInitial>
        <option></option>
        <option *ngFor="let item of labels | filter : ['categorieNavigation.type', '3']" value={{item.id}}>
          {{ item.naam }}
        </option>
      </select>
    </div>  
  </div>
  <div class="form-group row">
    <label for="aankoopdatum" class="col-sm-5 col-form-label">Aankoopdatum</label>
    <div class="col-sm-7">
      <input type="date" class="form-control" id="aankoopdatum" [value]="form.get('aankoopdatum').value" formControlName="aankoopdatum" required>
    </div>  
  </div>
  <div class="form-group row">
    <label for="aankoopbedrag" class="col-sm-5 col-form-label">Aankoopbedrag</label>
    <div class="input-group col-sm-7">
      <div class="input-group-prepend">
        <span class="input-group-text">€</span>
      </div>
      <input type="text" class="form-control" id="aankoopbedrag" formControlName="aankoopbedrag" [value]="form.get('aankoopbedrag').value | customCurrency" required>
    </div>  
  </div>
  <div class="form-group row">
    <label for="verwachteLevensduur" class="col-sm-5 col-form-label" placement="top" ngbTooltip="Verwachte levensduur" tooltipClass="custom-tooltip">Verw. levensduur</label>
    <div class="input-group col-sm-7">
      <input type="text" class="form-control" id="verwachteLevensduur" formControlName="verwachteLevensduur" required>
      <div class="input-group-append">
        <span class="input-group-text" id="verwachteLevensduur_addon">maanden</span>
      </div>
    </div>  
  </div>
  <div class="form-group row">
    <label for="garantie" class="col-sm-5 col-form-label">Garantie</label>
    <div class="input-group col-sm-7">
      <input type="text" class="form-control" id="garantie" formControlName="garantie">
      <div class="input-group-append">
        <span class="input-group-text" id="garantie_addon">maanden</span>
      </div>
    </div>  
  </div>
  <div class="form-group row">
    <label for="factuur" class="col-sm-5 col-form-label">Factuur</label>
    <div class="col-sm-7 custom-file">
      <input type="file" class="own-custom-file-input" id="factuur" (change)="onFileChange($event)">
      <label class="own-custom-file-label form-control" for="factuur"><i class="fas fa-file-upload"></i>{{ factuurText }}</label>
    </div>  
  </div>
  <div class="buttongroup-bottom">
    <button class="btn" type="submit" [disabled]="!form.valid"><i class="fas fa-download"></i>Opslaan</button>
  </div>
</form>