<div class="pagina">
  <div class="pagina-header row">
    <h4 class="display-4 col">Contracten</h4>
    <a class="col-1" href="{{ read_the_docs }}moneygrip/contracten.html" target="_blank"><em class="fas fa-question-circle fa-4x"></em></a>
  </div>
  <div class="buttongroup-top">
    <app-button-toevoegen [buttonText]="buttonText" (toevoegChange)="add()"></app-button-toevoegen>
  </div>
  <div>
    <table class='table'>
      <thead>
        <tr class="d-flex">
          <th class="col-1 lead">Categorie</th>
          <th class="col-2 lead">Label</th>
          <th class="col-1 lead">Bedrag</th>
          <th class="col-1 lead">Begindatum</th>
          <th class="col-1 lead">Einddatum</th>
          <th class="col-1 lead">Interval</th>
          <th class="col lead">Document</th>
          <th class="col-sm-0-25"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" *ngFor="let item of items" [ngClass]="{'selected': item.id == selectedId}">
          <td class="col-1" (click)="onSelect(item)">{{ item.labelNavigation == null ? '' : item.labelNavigation.categorieNavigation == null ? '' : item.labelNavigation.categorieNavigation.naam }}</td>
          <td class="col-2" (click)="onSelect(item)">{{ item.labelNavigation == null ? '' : item.labelNavigation.naam }}</td>
          <td class="col-1" (click)="onSelect(item)">€ {{ item.bedrag | customCurrency }}</td>
          <td class="col-1" (click)="onSelect(item)">{{ item.begindatum | date: 'dd-MM-yyyy' }}</td>
          <td class="col-1" (click)="onSelect(item)">{{ item.einddatum | date: 'dd-MM-yyyy' }}</td>
          <td class="col-1" (click)="onSelect(item)">{{ IntervalEnum[item.interval] }}</td>
          <td class="col"><i class="fas fa-file-invoice" (click)="openDocument(item)" *ngIf="item.document"></i></td>
          <td class="col-sm-0-25 text-right"><i class="fas fa-trash-alt" (click)="openDeleteDialog(item)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>