.fa, .fas
{
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  animation: rotate 1s ease-in-out 0s;
  color: #607D8B;
}