<div class="buttongroup-top">
  <span class="display-5">{{ titelText }}</span>
  <app-button-annuleren class="button-annuleren"></app-button-annuleren>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="form-group row">
    <label for="label" class="col-sm-5 col-form-label">Label</label>
    <div class="col-sm-7 col-form-label labelContainer" *ngIf="labelsLoaded | async">        
        <input
        #fruitInput
        [formControl]="fruitCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
        [ngClass]="[labels.length === 0 ? 'invalid' : 'valid']">
        <mat-chip-list #chipList ngDefaultControl class="matchiplist" id="label" formControlName="label" required>
            <mat-chip 
            *ngFor="let item of labels"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(item)">
            {{item.naam}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let item of filteredFruits | async" [value]="item">
        {{item.naam}}
      </mat-option>
    </mat-autocomplete>
</div>
<!--
  <div class="form-group row">
    <label for="label" class="col-sm-5 col-form-label">Label</label>
    <div class="col-sm-7">
      <select class="form-control" id="label" formControlName="label" required>
        <option></option>
        <option *ngFor="let item of labels | filter : ['categorieNavigation.type', '2']" value={{item.id}}>
          {{ item.naam }}
        </option>
      </select>
    </div>  
  </div>
-->
  <div class="form-group row">
    <label for="persoon" class="col-sm-5 col-form-label">Persoon</label>
    <div class="col-sm-7">
      <select class="form-control" id="persoon" formControlName="persoon">
        <option></option>
        <option *ngFor="let item of personen" value={{item.id}}>
          {{ item.voornaam }} {{ item.achternaam }}
        </option>
      </select>
    </div>  
  </div>
  <div class="form-group row">
    <label for="bedrag" class="col-sm-5 col-form-label">Bedrag</label>
    <div class="input-group col-sm-7">
      <div class="input-group-prepend" [ngClass]="form.get('bedrag').valid ? 'valid' : 'invalid'">
        <span class="input-group-text">€</span>
      </div>
      <input type="text" class="form-control" id="bedrag" formControlName="bedrag" [value]="form.get('bedrag').value | customCurrency" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="begindatum" class="col-sm-5 col-form-label">Begindatum</label>
    <div class="col-sm-7">
      <input type="date" class="form-control" id="begindatum" [value]="form.get('begindatum').value" formControlName="begindatum" required>
    </div>  
  </div>
  <div class="form-group row">
    <label for="einddatum" class="col-sm-5 col-form-label">Einddatum</label>
    <div class="col-sm-7">
      <input type="date" class="form-control" id="einddatum" [value]="form.get('einddatum').value" formControlName="einddatum">
    </div>  
  </div>
  <div class="form-group row">
    <label for="interval" class="col-sm-5 col-form-label">Interval</label>
    <div class="col-sm-7">
      <select class="form-control" id="interval" formControlName="interval" required>
      <option *ngFor="let item of keys(intervalEnum)"
              value={{intervalEnum[item]}}>
        {{ item }}
      </option>
    </select>
    </div>  
  </div>
  <div class="buttongroup-bottom">
    <button class="btn" type="submit" [disabled]="!form.valid || form.pristine"><fa-icon [icon]="faDownload" class="fas-margin"></fa-icon>Opslaan</button>
  </div>
</form>