<div class="pagina">
  <h4 class="display-4">Reserveringen</h4>
    <p class="lead">Hier kunnen reserveringen aangemaakt worden.<br />
    Hiermee kunnen uitgaven in een maand vastgelegd worden voordat ze vaststaan op welke dag.</p>
  <div class="buttongroup-top">
    <app-button-toevoegen [buttonText]="buttonText" (toevoegChange)="add()"></app-button-toevoegen>
  </div>
  <div>
    <table class='table'>
      <thead>
        <tr class="d-flex">
          <th class="col-1 lead">Categorie</th>
          <th class="col-2 lead">Label</th>
          <th class="col-1 lead">Bedrag</th>
          <th class="col-1 lead">Maand</th>
          <th class="col lead">Omschrijving</th>
          <th class="col-sm-0-25"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" *ngFor="let item of items" [ngClass]="{'selected': item.id == selectedId}">
          <td class="col-1" (click)="onSelect(item)">{{ item.labelNavigation == null ? '' : item.labelNavigation.categorieNavigation == null ? '' : item.labelNavigation.categorieNavigation.naam }}</td>
          <td class="col-2" (click)="onSelect(item)">{{ item.labelNavigation == null ? '' : item.labelNavigation.naam }}</td>
          <td class="col-1" (click)="onSelect(item)">€ {{ item.bedrag | customCurrency }}</td>
          <td class="col-1" (click)="onSelect(item)">{{ MaandenEnum[item.maand] }}</td>
          <td class="col" (click)="onSelect(item)">{{ item.omschrijving }}</td>
          <td class="col-sm-0-25 text-right"><i class="fas fa-trash-alt" (click)="openDeleteDialog(item)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>